<html>
<head>
	<title>Form</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">

	</script>
</head>
<body>
	<div id="top">
		<h1>The Dojo Message Board</h1>
	</div>
	<form action="/message" method="post">
		<p>Name: <input type="text" name="name">
		<p>Message: <textarea name="message"></textarea>
		<input id="post" type="submit" value="Post message">
	</form>
	 <% if(typeof(errors) != 'undefined' ) { %>
	     <% for (var x in errors) { %>
	      <h3><%= errors[x].message %></h3>
	     <% } %>
 	 <% } else { %>
 	 	<div>
			<% for(x of messages) { %>
				<div>
					<h3>Name: <%= x.name %></h3>
					<h3>Message: <%= x.message %></h3>
					<% for (y of x._comments) { %>
						<h5><%="Name: " + y.name %></h5>
						<h5><%="Comment: " + y.message %></h5>
					<% } %>

					<form action=<%="/comment/" + x._id %> method="post">
						<p class="margin">Name: </p><input class="comment_input" type="text" name="name">
						<p class="margin">Comment: </p><textarea class="comment_text"name="message"></textarea>
						<input class="post2" type="submit" value="Post comment">
					</form>
				</div>
			<% } %>
		</div>
 	<% } %>

</body>
</html>
<style type="text/css">

*{
	font-family: geneva;
}
#top{
	border-bottom: 1px solid black;
	width: 90%;
}
input, textarea{
	display: block;
	margin-bottom: 2em;
}
textarea{
	width: 60%;
	height: 10em;
}
h5, .comment_input {
	margin-left: 12%;
}
#post {
	color:white;
	background-color: blue;
	margin-left: 36.7%;
	width:15em;
	height: 3em;
}
.comment_text {
	width: 40%;
	height: 6em;
	margin-left: 12%;
}
.margin{
	margin-left: 12%;
	margin-bottom: -.1em;
}
.post2 {
	color:white;
	background-color: green;
	margin-left: 33.2%;
	width:12em;
	height: 2.5em;
}
</style>
